.env
__pycache__/
*.pyc
instance/
.pytest_cache/
.venv/
env/
venv/
.vscode/
migrations/alembic.ini
migrations/env.py
migrations/README
migrations/script.py.mako
migrations/versions/8b5b8dcccf8c_add_is_active_column.py
migrations/versions/55766baafa92_add_details_column_to_quizresult.py
migrations/versions/88651d2c2df2_add_nickname_to_user_model.py
migrations/versions/d76cf24fe789_add_total_count_and_correct_count_to_.py
test_mail.py
