{% extends 'admin_base.html' %}

{% block title %}管理者ダッシュボード{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2>管理者機能</h2>
            </div>
            <div class="list-group list-group-flush">
                <a href="{{ url_for('admin_questions') }}" class="list-group-item list-group-item-action">
                    クイズの編集・一覧
                </a>
                <a href="{{ url_for('new_question') }}" class="list-group-item list-group-item-action">
                    クイズの新規登録
                </a>
                <a href="{{ url_for('export_questions') }}" class="list-group-item list-group-item-action">
                    クイズのエクスポート
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}